.map-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
  .map-wrapper.small {
    position: static;
    height: 300px;
    width: 300px; }
    .map-wrapper.small .map {
      height: 100%;
      width: 100%; }
  .map-wrapper.large .map {
    width: 100%;
    height: 100%; }

.map-wrapper:not(.small) img.leaflet-marker-icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: none;
  border: 2px solid #ff4444;
  transition: 0.2s; }

.map-wrapper:not(.small) img.leaflet-marker-icon:hover {
  height: 60px;
  width: 60px;
  margin-left: -20px;
  margin-top: -20px;
  border: 1px solid #ff4444;
  object-fit: cover;
  z-index: 1000 !important; }

.leaflet-popup {
  margin-bottom: 0; }

.leaflet-popup-content {
  margin: 0; }

.leaflet-popup-content-wrapper {
  background: #ff4444;
  color: white;
  box-shadow: 0 0 0;
  border-radius: 0;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .leaflet-popup-content-wrapper a {
    color: white;
    padding: 5px 10px;
    display: block; }

.leaflet-container a.leaflet-popup-close-button {
  color: white;
  display: none; }

.leaflet-popup-tip {
  opacity: 0; }

footer {
  width: 100%;
  text-align: center;
  background-color: #ff4444;
  padding: 10px;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 10px;
  position: absolute;
  top: 100%; }

.artworkWrapper, .artistsWrapper {
  margin: 0 5px; }
  .artworkWrapper .didact, .artworkWrapper .artistFormWrapper, .artistsWrapper .didact, .artistsWrapper .artistFormWrapper {
    width: 100%;
    border: 3px solid #ff4444; }
  .artworkWrapper .didact, .artistsWrapper .didact {
    top: 60px;
    left: 60px; }
  .artworkWrapper .closer, .artistsWrapper .closer {
    position: absolute;
    top: 44px;
    right: 20%;
    margin-right: 13px; }
  .artworkWrapper .itemWrapper, .artistsWrapper .itemWrapper {
    margin-left: -5px;
    margin-right: -5px; }

.artworkWrapper .itemView {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 18%;
  z-index: 2; }

.itemView .didact a {
  color: #ff4444; }

@media (max-width: 900px) {
  .artworkWrapper, .artistsWrapper {
    position: relative;
    margin-top: 180px; }
    .artworkWrapper .headerButton, .artistsWrapper .headerButton {
      position: absolute;
      top: -75px;
      left: 0;
      border-width: 2px;
      padding: 13px 15px;
      width: 100%; }
    .artworkWrapper .itemView, .artworkWrapper div.artistView, .artistsWrapper .itemView, .artistsWrapper div.artistView {
      padding: 10px 5px; }
    .artworkWrapper button.closer, .artistsWrapper button.closer {
      top: 15px;
      right: 6px; } }

.artistView .info {
  float: left; }

.artistView .artistWorkWrap {
  clear: both;
  padding-top: 10px; }

.artistView .artistWork {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .artistView .artistWork a {
    flex: 1 1 20%;
    max-width: 30%;
    margin: 5px 5px;
    background-color: #6b6666;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
    display: block;
    padding: 100px 15px 10px; }
    .artistView .artistWork a .text {
      transition: 0.7s;
      padding: 8px 11px;
      letter-spacing: 2px;
      font-size: 12px; }
    .artistView .artistWork a:hover .text {
      /* background-color: rgba(0, 0, 0, 0.65); */
      opacity: 0.0; }
    .artistView .artistWork a:hover:after {
      opacity: 0; }
    .artistView .artistWork a:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      transition: 0.2s;
      opacity: 1; }

.artistView .artistImage {
  float: left;
  max-width: 50%;
  margin-right: 20px; }

.artistFormWrapper .piece {
  position: relative;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 16px; }
  .artistFormWrapper .piece:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }

.artistFormWrapper .artistWorkWrap {
  display: flex;
  flex-wrap: wrap; }

.artistFormWrapper .pieceWrap {
  margin: 5px; }
  .artistFormWrapper .pieceWrap button {
    width: 100%;
    margin-top: 0; }

.artistsWrapper .artistView {
  position: absolute;
  top: 0;
  left: 0;
  padding: 110px 20%;
  width: 100%;
  z-index: 1; }

.artistsWrapper .artistFormWrapper {
  width: 100%;
  padding: 0 20px 20px 20px; }

.artistsWrapper .item {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 500;
  font-size: 20px;
  text-align: center; }
  .artistsWrapper .item a {
    padding: 20px 25px;
    color: black;
    background-size: cover;
    background-position: center; }
    .artistsWrapper .item a:after {
      background-color: rgba(255, 255, 255, 0.75);
      z-index: 0; }
    .artistsWrapper .item a span {
      position: relative;
      z-index: 1; }
    .artistsWrapper .item a:hover {
      color: #ff4444;
      font-weight: 800; }

.artistsWrapper .closer {
  position: absolute;
  top: 115px;
  right: 20%;
  margin-right: 27px; }

.locationView .info {
  float: left; }

.locationView .locationWorkWrap {
  clear: both;
  padding-top: 10px; }

.locationView .locationWork {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .locationView .locationWork a {
    flex: 1 1 15%;
    max-width: 30%;
    margin: 5px 5px;
    background-color: #6b6666;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
    display: block;
    padding: 100px 15px 10px; }
    .locationView .locationWork a .text {
      transition: 0.7s;
      padding: 8px 11px;
      letter-spacing: 2px;
      font-size: 12px; }
    .locationView .locationWork a:hover .text {
      /* background-color: rgba(0, 0, 0, 0.65); */
      opacity: 0.0; }
    .locationView .locationWork a:hover:after {
      opacity: 0; }
    .locationView .locationWork a:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      transition: 0.2s;
      opacity: 1; }

.locationView .locationImage {
  float: left;
  max-width: 50%;
  margin-right: 20px; }

.locationFormWrapper .piece {
  position: relative;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 16px; }
  .locationFormWrapper .piece:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }

.locationFormWrapper .locationWorkWrap {
  display: flex;
  flex-wrap: wrap; }

.locationFormWrapper .pieceWrap {
  margin: 5px; }
  .locationFormWrapper .pieceWrap button {
    width: 100%;
    margin-top: 0; }

.locationsWrapper .locationView {
  position: absolute;
  top: 0;
  left: 0;
  padding: 110px 20%;
  width: 100%; }

.locationsWrapper .locationsFormWrapper {
  width: 100%; }

.locationsWrapper .item {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  height: 95%; }
  .locationsWrapper .item a {
    padding: 20px 25px;
    color: black;
    background-size: cover;
    background-position: center; }
    .locationsWrapper .item a:after {
      background-color: rgba(255, 255, 255, 0.75);
      z-index: 0; }
    .locationsWrapper .item a span {
      position: relative;
      z-index: 1; }
    .locationsWrapper .item a:hover {
      color: #ff4444;
      font-weight: 800; }

.locationsWrapper .itemWrapper > a {
  flex: 1 1 15%; }

.locationsWrapper .closer {
  position: absolute;
  top: 115px;
  right: 20%;
  margin-right: 27px; }

nav {
  position: absolute;
  left: 50%;
  margin-left: -198px;
  top: 19px;
  padding: 20px 50px;
  color: white;
  background-color: #ff4444; }
  nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 15px;
    font-weight: 200;
    letter-spacing: 3px; }
    nav a:first-child {
      font-weight: 800; }

select {
  appearance: none;
  -webkit-appearance: none;
  padding: 8px 15px;
  border-radius: 0;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  background: none;
  border-color: #ff4444;
  color: #ff4444;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px; }

img {
  max-width: 100%; }

button {
  margin-top: 20px;
  background-color: transparent;
  border-color: #ff4444;
  color: #ff4444;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 8px 15px; }
  button:focus {
    outline: none; }
  button.headerButton {
    position: absolute;
    top: 0;
    border-width: 2px;
    padding: 18px 15px; }

input, textarea {
  display: block;
  width: 100%; }

.option {
  background-color: white;
  color: #ff4444; }

label {
  display: block;
  width: 100%;
  font-weight: 200; }

form {
  display: block;
  margin: 20px auto 0 auto; }

h2 {
  font-weight: 100; }

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: #fff;
  transition: 0.2s; }

nav a:hover {
  text-shadow: 0 0 4px #ffdddd; }

.content {
  margin-top: 110px;
  width: 90%;
  margin-left: 5%; }

.item {
  flex: 1 1 15%;
  margin: 5px 5px;
  background-color: #6b6666;
  color: white;
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1.5px; }
  .item a {
    color: white;
    display: block;
    padding: 100px 15px 10px; }
    .item a .text {
      transition: 0.7s;
      padding: 8px 11px;
      letter-spacing: 2px;
      font-size: 12px; }
    .item a:hover .text {
      /* background-color: rgba(0, 0, 0, 0.65); */
      opacity: 0.0; }
    .item a:hover:after {
      opacity: 0; }
  .item a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    transition: 0.2s;
    opacity: 1; }
  .item button {
    padding: 2px 5px;
    background-color: transparent;
    border: 0px solid white;
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    font-weight: 800; }

.itemWrapper {
  display: flex;
  flex-wrap: wrap; }

.itemView {
  clear: both;
  position: relative;
  padding: 30px; }
  .itemView img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.didact, .artistFormWrapper {
  background-color: rgba(255, 255, 255, 0.97); }
  .didact.collapsed, .artistFormWrapper.collapsed {
    position: relative;
    top: -120px;
    left: -30px;
    height: 60px;
    overflow: hidden;
    background-color: red; }

.didact {
  width: 35%;
  padding: 1px 25px 25px;
  min-width: 330px; }

.imageStretcher {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: 175%;
  background-position: center center;
  transition: 0.2s ease-out 0.1s; }
  .imageStretcher + span {
    position: relative;
    z-index: 1;
    display: inline-block; }

a:hover .imageStretcher {
  background-size: 200%; }
