.artworkWrapper, .artistsWrapper{
    .didact, .artistFormWrapper{
        width: 100%;
        border: 3px solid $kruger;
    }
    .closer{
        position: absolute;
        top: 44px;
        right: 20%;
        margin-right: 13px;
    }
}
.artworkWrapper{
    .itemView{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 18%;
        z-index: 2;
    }
}
