footer{
    width: 100%;
    text-align: center;
    background-color: $kruger;
    padding: 10px;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 10px;
    position: absolute;
    top: 100%;
}
