.map.large{
     width: 100%; height:100%;
}

.map-wrapper {
    width: 100%;
    height:100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1;
     &.small{
         position: static;
         height: 300px;
         width: 300px;
         .map{
             height: 100%;
             width: 100%;
         }
     }
 }

//styles customizing the leaflet map LIBRARY
.map-wrapper:not(.small) img.leaflet-marker-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: none;
    border: 2px solid $kruger;
    transition: 0.2s;
}
.map-wrapper:not(.small) img.leaflet-marker-icon:hover{
    height: 60px;
    width: 60px;
    margin-left: -20px;
    margin-top: -20px;
    border: 1px solid $kruger;
    object-fit: cover;
    z-index: 1000 !important;
}

.leaflet-popup{
    margin-bottom: 0;
}

.leaflet-popup-content{
    margin: 0;
}

.leaflet-popup-content-wrapper {
    background: $kruger;
    color: white;
    box-shadow: 0 0 0;
    border-radius: 0;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    a{
        color: white;
        padding: 5px 10px;
        display: block;
    }
}
.leaflet-container a.leaflet-popup-close-button{
    color: white;
    display: none;
}

.leaflet-popup-tip {
    opacity: 0;
}
