@import "variables";
@import "leaflet.scss";
@import "artwork";

nav{
    position: absolute;
    left: 50%;
    margin-left: -198px;
    top: 19px;
    padding: 20px 50px;
    color: white;
    background-color: $kruger;
     a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            margin: 15px;
            font-weight: 200;
            letter-spacing: 3px;
            &:first-child{
                font-weight: 800
            }
        }
}

select {
    appearance: none;
    -webkit-appearance: none;
    padding: 8px 15px;
    border-radius: 0;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    background: none;
    border-color: $kruger;
    color: $kruger;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

img{
    max-width: 100%;
}

button{
    margin-top: 20px;
    background-color: transparent;
    border-color: $kruger;
    color: $kruger;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 8px 15px;
    &:focus{
        outline: none;
    }
    &.headerButton{
        position: absolute;
        top: 0;
        border-width: 2px;
        padding: 18px 15px;
    }
}

input, textarea{
    display:block;
    width: 100%;
}

.option{
    background-color: white;
    color: $kruger;
}

label{
    display: block;
    width: 100%;
    font-weight: 200;
}

form{
    display: block;
    margin: 20px auto 0 auto;
}

h2{
    font-weight: 100;
}

a, a:hover, a:visited, a:focus{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

nav a:hover{
    text-shadow: 0 0 4px #ffdddd;
}

.content{
    margin-top: 110px;
    width: 90%;
    margin-left: 5%;
}

.item{
    flex: 1 1 15%;
    margin: 5px 5px;
    background-color: #6b6666;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
    a{
        color: white;
        display: block;
        padding: 100px 15px 10px;
        .text{
            transition: 0.7s;
            padding: 8px 11px;
            letter-spacing: 2px;
            font-size: 12px;
        }
        &:hover .text{
            /* background-color: rgba(0, 0, 0, 0.65); */
            opacity: 0.0;
        }
        &:hover:after{
            opacity: 0;
        }
    }

    a:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        transition: 0.2s;
        opacity: 1;
    }

    button{
        padding: 2px 5px;
        background-color: transparent;
        border: 0px solid white;
        position: absolute;
        top: 2px;
        right: 2px;
        color: white;
        font-weight: 800;
    }
}
.itemWrapper{
    display: flex;
    flex-wrap: wrap;
}
.itemView{
    clear: both;
    position: relative;
    padding: 30px;
    img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.didact{
    background-color: rgba(255, 255, 255, 0.97);
    width: 35%;
    padding: 1px 25px 25px;
    &.collapsed{
        position: relative;
        top: -120px;
        left: -30px;
        height: 60px;
        overflow: hidden;
        background-color: red;
    }
}

.imageStretcher{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: 175%;
    background-position: center center;
    transition: 0.2s ease-out 0.1s;
    + span{
        position: relative;
        z-index: 1;
        display: inline-block;
    }
}
a:hover .imageStretcher{
    background-size: 200%;
}
